# Use postgres/example user/password credentials
version: '3.1'

services:
   db:
      image: postgres:12.3-alpine
      environment:
         POSTGRES_PASSWORD: senhausuario
         POSTGRES_USER: usuario
         POSTGRES_DB: pedido_rapido_development
      volumes:
         - /var/run/postgresql:/var/run/postgresql
      ports:
         - 5432:5432
   adminer:
      image: adminer
      ports:
         - 9090:8080
