<h1>Orders#index</h1>
<table class="table-primary">
  <thead>
    <tr>
      <th>Comanda </th>
      <th>Cliente</th>
      <th>Mesa</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>#<%= order.id %></td>
        <td><%= order.client_name %></td>
        <td><%= order.table %></td>
      </tr>
    <% end %>
  </tbody>
</table>
